@{
    ViewData["Title"] = "Sobre";
}
<h1 style="color:darkblue">Tudo sobre ASP.NET</h1><br/>
<div style="text-align:justify" class="lead">
    <p>
        ASP.NET é uma plataforma de desenvolvimento de aplicações web da Microsoft
        que permite criar aplicações web dinâmicas e robustas usando o .NET Framework.
        Ele foi lançado em 2002 e desde então tem sido uma das principais plataformas
        de desenvolvimento web para a Microsoft.
    </p>
    <div style="display:flex">
        <img src="~/Images/img4.png" width="200" height="200" alt="Imagem">
        <p style="margin-left:10px">
            ASP.NET oferece uma série de recursos e tecnologias para ajudar os desenvolvedores
            a criar aplicações web, incluindo o modelo de programação Model-View-Controller (MVC),
            o modelo Web Pages e o modelo Web Forms. Além disso, ele também fornece recursos de
            segurança integrados, gerenciamento de estado e suporte a várias linguagens de programação,
            como C# e VB.NET.ASP.NET é uma plataforma de desenvolvimento web da Microsoft que permite
            criar aplicações web dinâmicas e escaláveis usando o .NET Framework.Lançado em 2002, ele é
            uma das plataformas de desenvolvimento web mais populares da Microsoft e é amplamente utilizado
            por grandes empresas, governos e desenvolvedores independentes.
        </p>
    </div>
    <p>
        ASP.NET é uma plataforma altamente escalável e confiável que é amplamente utilizada por
        grandes empresas e governos para criar aplicações web complexas. Além disso, ele também
        é uma escolha popular para desenvolvedores independentes e pequenas empresas que precisam
        de uma plataforma poderosa e fácil de usar para criar aplicações web.
    </p>
    <p>
        Em resumo, ASP.NET é uma plataforma poderosa e flexível que oferece aos desenvolvedores
        uma ampla gama de recursos e tecnologias para criar aplicações web dinâmicas e escaláveis.
    </p>
</div>