@{
    ViewData["Title"] = "Informação";
}
<h1 style="color:darkblue">Informação sobre ASP.NET</h1>
<br />
<div style="text-align:justify" class="lead">
    <p>
        A plataforma ASP.NET também oferece uma série de outros recursos úteis para ajudar os desenvolvedores
        a criar aplicações web eficientes e de alta qualidade. Aqui estão alguns dos recursos adicionais de
        ASP.NET:
    </p>
    <div style="display:flex">
        <img src="~/Images/img5.png" width="750" height="400" alt="Imagem">
        <ol>
            <li>
                Integração com a Nuvem: ASP.NET oferece integração completa com a nuvem,
                permitindo que as aplicações sejam implantadas em serviços de nuvem como o Azure.
            </li>
            <li>
                Ferramentas de desenvolvimento: A Microsoft oferece uma série de ferramentas de desenvolvimento
                para ajudar os desenvolvedores a criar aplicações com ASP.NET, incluindo o Visual Studio, o Visual
                Studio Code e o Visual Studio for Mac.
            </li>
            <li>
                Suporte ao HTML5 e CSS3: ASP.NET oferece suporte completo ao HTML5 e CSS3, permitindo que os
                desenvolvedores criem aplicações web modernas e atraentes.
            </li>
            <li>
                Suporte a vários bancos de dados: ASP.NET oferece suporte a vários bancos de dados, incluindo SQL
                Server, Oracle, MySQL e outros.
            </li>
        </ol>
    </div>
</div>
