@{
    ViewData["Title"] = "Apagar Funcionario";
}
<div class="text-center">
    <h1 class="display-4">Apagar Funcionário</h1>
    <br/>
    <h4>Deseja apagar o registo do funcionario ?</h4>

    <br/>
    <a class="btn btn-primary btn-block" role="button" asp-controller="DataBase" asp-action="Apagar">Cancelar</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="DataBase" asp-action="Index">Confirmar</a>
</div>