@{
    ViewData["Title"] = "Editar Ficha Funcionario";
}
<div class="text-center">
    <h1 class="display-4">Editar Ficha Funcionário</h1>
</div>

<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Altere o nome do funcionario">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Altere o email do funcionario">
    </div>
    <div class="form-group">
        <label for="telefone">Telemovel</label>
        <input type="text" class="form-control" placeholder="Altere o telemovel do funcionario">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-controller="DataBase" asp-action="Index" role="button">Voltar</a>
</form>

